---
import client from '@/lib/client'

import BentoGithubActivityChart from './BentoItemGithubActivityChart'

const response = await client.api.github.contributions.$get()
const data = response.status === 200 ? await response.json() : null

Astro.response.headers.set('Cache-Control', 'public, max-age=86400')
---

{
  data ? (
    <BentoGithubActivityChart {...data} client:only='react' />
  ) : (
    // TODO: handle error
    <p>
     <img src="/images/githuberror.gif" alt="Error GIF" style="vertical-align: middle; width: 40px;"/>
      Something went wrong 😔, I'm working on it!
    </p>

  )
}
